body {
    display: flex;
    justify-content: center;
}

.padre {
    display: flex;
}

.padre div {
    width: 150px;
    height: 150px;
    margin: 30px;
}

.hijoTop {
    background-color: dodgerblue;
}

#centerDiv {
    background-color: rgb(228, 60, 186);
    height: 150px;
    margin-inline: 30px;
}

.hijoBottom {
    background-color: chartreuse;
}

div {
    border: dotted 2px;
    border-radius: 15px;
    text-align: center;
}